{% extends '::base-home.html.twig' %}
{% block body_details %}
    {% if resultType == 'String' %}
        {% if browseBy == 'name' %}
            {% for business in items %}
                <p>
                    <a href="{{ path('b_conway_website_business_browse_name_with_organization', {'organization': business | url_encode}) }}">{{ business }}</a>
                </p>
            {% endfor %}
        {% elseif browseBy == 'location' %}
            {% if state is defined and state is not empty %}
                {% for business in items %}
                    <p>
                        <a href="{{ path('b_conway_website_business_browse_name_with_organization_state', {'organization': business | url_encode, 'state': state | url_encode}) }}">{{ business }}</a>
                    </p>
                {% endfor %}
            {% else %}
                {% for state in items %}
                    <p>
                        <a href="{{ path('b_conway_website_business_browse_location_with_state', {'state': state | url_encode}) }}">{{ state }}</a>
                    </p>
                {% endfor %}
            {% endif %}
        {% elseif browseBy == 'category' %}
            {% for category in items %}
                <p>
                    <a href="{{ path('b_conway_website_business_browse_with_category', {'category': category | url_encode}) }}">{{ category }}</a>
                </p>
            {% endfor %}
        {% endif %}
    {% elseif resultType == 'Object' %}
        {% if browseBy == 'name' %}
            {% if app.request.attributes.get("state") is not defined or app.request.attributes.get("state") is empty %}
                {% set stateList = [] %}
                {% for business in items %}
                    {% if business.address.state not in stateList %}
                        {% set stateList = stateList|merge([business.address.state]) %}
                    {% endif %}
                {% endfor %}
                <select>
                    <option value="" default selected>Narrow by state</option>
                    {% for state in stateList %}
                        <option value="{{ state }}">{{ state }}</option>
                    {% endfor %}
                </select>
            {% else %}
                {% set cityList = [] %}
                {% for business in items %}
                    {% if business.address.city not in cityList %}
                        {% set cityList = cityList|merge([business.address.city]) %}
                    {% endif %}
                {% endfor %}
                <select>
                    <option value="" default selected>Narrow by city</option>
                    {% for city in cityList %}
                        <option value="{{ city }}">{{ city }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            {% for business in items %}
                {% if loop.index > 1 %}
                    <p>&nbsp;</p><p>&nbsp;</p>
                {% endif %}
                {% include 'BConwayWebsiteBundle:Business:_shortDetails.html.twig' %}
                {% set currentState = business.address.state %}
            {% endfor %}
        {% elseif browseBy == 'location' %}
            {% if state is defined and state is not empty %}
                {% for business in items %}
                    <p>
                        <a href="{{ path('b_conway_website_business_browse_name_with_organization_state', {'organization': business.name | url_encode, 'state': state | url_encode}) }}">{{ business.name }}</a>
                    </p>
                {% endfor %}
            {% else %}
                {% for state in items %}
                    <p>
                        <a href="{{ path('b_conway_website_business_browse_location_with_state', {'state': state | url_encode}) }}">{{ state }}</a>
                    </p>
                {% endfor %}
            {% endif %}
        {% elseif browseBy == 'category' %}
            {% for category in items %}
                <p>
                    <a href="{{ path('b_conway_website_business_browse_with_category', {'category': category | url_encode}) }}">{{ category }}</a>
                </p>
            {% endfor %}
        {% endif %}
    {% endif %}
    <div class="apple_pagination">
        {% set paginationQuery = app.request.query.all() | merge(app.request.attributes.get('_route_params')) %}

        {% set itemsStart = ((currentPage - 1) * pageSize) + 1 %}
        {% set itemsEnd = currentPage * pageSize %}
        {% if itemsEnd > totalItems %}
            {% set itemsEnd = totalItems %}
        {% endif %}
        {% if totalPages < 10 or currentPage <= 5 %}
            {% set paginationStart = 1 %}

            {% if totalPages < 10 %}
                {% set paginationEnd = totalPages %}
            {% else %}
                {% set paginationEnd = 9 %}
            {% endif %}
        {% elseif (totalPages - currentPage) < 5 %}
            {% set paginationStart = (totalPages - 8) %}
            {% set paginationEnd = totalPages %}
        {% else %}
            {% set paginationStart = currentPage - 4 %}
            {% set paginationEnd = currentPage + 4 %}
        {% endif %}
        <div class="page_info">
            Displaying <b class="range">{{ itemsStart }} - {{ itemsEnd }}</b> of <b class="total">{{ totalItems }}</b> total items
        </div>
        <div class="pagination">
            {% if currentPage > 1 %}
                {% set paginationQuery = paginationQuery | merge({ 'page': (currentPage - 1) }) %}
                {% set paginationURL = path(app.request.attributes.get('_route'), paginationQuery) %}
                <a rel="prev" href="{{ paginationURL }}" class="prev_page">&larr; Previous</a>
            {% else %}
                <span class="previous_page disabled">&larr; Previous</span>
            {% endif %}

            {% for page in paginationStart..paginationEnd %}
                {% set paginationQuery = paginationQuery | merge({ 'page': page }) %}
                {% set paginationURL = path(app.request.attributes.get('_route'), paginationQuery) %}
                {% if page == currentPage - 1 %}
                    <a rel="prev" href="{{ paginationURL }}">{{ page }}</a>
                {% elseif page == currentPage + 1 %}
                    <a rel="next" href="{{ paginationURL }}">{{ page }}</a>
                {% elseif page == currentPage %}
                    <em class="current">{{ page }}</em>
                {% else %}
                    <a href="{{ paginationURL }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if currentPage < totalPages %}
                {% set paginationQuery = paginationQuery | merge({ 'page': (currentPage + 1) }) %}
                {% set paginationURL = path(app.request.attributes.get('_route'), paginationQuery) %}
                <a rel="next" href="{{ paginationURL }}" class="next_page">Next &rarr;</a>
            {% else %}
                <span class="next_page disabled">Next &rarr;</span>
            {% endif %}
        </div>
    </div>
{% endblock %}
